.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: inherit;
    max-width: 400px;
    margin: 16px auto;
    color:inherit;
}

.card > .card-header {
    background-color: var(--card-header-bc);
    padding: 16px;
    font-size: 1.25rem;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card > .card-body {
    padding: 16px;
    font-size: 1rem;
    white-space: normal;
    word-wrap: break-word;
}

.card-body img {
    width: 100%;
    height: 200px;
    object-fit: scale-down;
    border-radius: 4px;
}
  