.grid-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5rem;
    /* padding: 1rem; */
  }
  
  .grid-container > .grid-item {
    flex: 1 1 auto;
    max-width: 100%;
  }
  .grid-item-100 {
    flex-basis: 100px !important;
  }
  .grid-item-150 {
    flex-basis: 150px !important;
  }
  .grid-item-200 {
    flex-basis: 200px !important;
  }
  .grid-item-300 {
    flex-basis: 300px !important;
  }
  .grid-item-max {
    flex-basis: 100% !important;
  }